config wifi-device 'mt798111'
        option type 'mtk'
        option band '2g'
        option htmode 'HE40'
        option channel 'auto'
        option txpower '100'

config wifi-iface 'wifi2g'
        option device 'mt798111'
        option mode 'ap'
        option network 'lan'
        option ifname 'ra0'
        option ssid 'MT7981-2G'
        option encryption 'none'

config wifi-device 'mt798112'
        option type 'mtk'
        option band '5g'
        option channel 'auto'
        option htmode 'HE80'
        option txpower '100'

config wifi-iface 'wifi5g'
        option device 'mt798112'
        option mode 'ap'
        option network 'lan'
        option ifname 'rax0'
        option ssid 'MT7981-5G'
        option encryption 'none'
