config global 'global'
    option enable '0'
    option drop_anonymous '0'
    option auto_update '0'
    option enable_app '0'
    list src_dev 'br-lan'
    list src_dev 'br-guest'

config rule 'drop'
    option name 'drop_all'
    option action 'DROP'
    option color ' #e982a5'
    option preset '1'

config rule 'accept'
    option name 'accept_all'
    option action 'ACCEPT'
    option color '#4bd9cc'
    option preset '1'

